label{
  color: black;
  animation: fadeInDownBig;
  animation-duration: 2s;
}


.animate__animated {
  animation-duration: 2s;
}



input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #b8b5ab;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


span {
  font-size: 13px;
  color: red;
}
