label{
  color: black;
}


.animate__animated {
  animation-duration: 2s;
}


input,
select {
  width: 100%;
  padding: 10px;
  color: black;
  margin-bottom: 10px;
  border: none;
  background-color: rgb(252, 244, 232);
  border-bottom: solid 2px black;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #b8b5ab;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


span {
  font-size: 13px;
  color: red;
}
